* {
    padding: 0;
    margin: 0;
}
.sliderHolder {
    position: fixed;
    background: white;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.leftSlider, .rightSlider {
    display: block;
    background: lightcyan;
}
.rightSlider {
    right: 0;
}
.leftSliderList, .rightSliderList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.leftSliderList li, .rightSliderList li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px;
    border-bottom: 1px solid gray;
}
.leftSliderList li:nth-last-child(1), .rightSliderList li:nth-last-child(1) {
    border: none;
} 
.leftSliderList a, .rightSliderList a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
}
.main {
    height: 100%;
    width: 100%;
    position: fixed;
    background: lightgoldenrodyellow;
}

.openLeft {
    animation-name: openLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.openRight {
    animation-name: openRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.closeRight {
    animation-name: closeRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.closeLeft {
    animation-name: closeLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes openLeft {
    0%   {left: 0;}
    100% {left: 300px}
}
@keyframes openRight {
    0%   {right: 0;} 
    100% {right: 300px;}
}
@keyframes closeRight {
    0%   {right: 300px;} 
    100% {right: 0;}
}
@keyframes closeLeft {
    0%   {left: 300px;} 
    100% {left: 0;}
}

.drawerControlsList {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.leftLi, .rightLi {
    list-style-type: none;
}
.leftLi {
    padding-left: 5px;
}
.rightLi {
    padding-right: 5px;
}
.drawerControlsList button {
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:focus {
    outline:0;
}
button:active {
    background: #000;
    color: #fff;
}
.displayNone {
    display: none;
}
