* {
    padding: 0;
    margin: 0;
}
.sliderHolder {
    position: fixed;
    background: white;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.leftSlider, .rightSlider {
    display: flex;
}
.leftSlider {
    border: 1px solid pink;
}
.rightSlider {
    right: 0;
    border: 1px solid black;
}
.leftSliderList, .rightSliderList {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
}
.leftSliderList li, .rightSliderList li {
    display: flex;
    justify-content: center;
    width: 300px;
}
main {
    position: relative;
    height: 600px;
    background: lightgoldenrodyellow;
}

.openLeft {
    animation-name: openLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.openRight {
    animation-name: openRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes openLeft {
    0%   {left: 0;}
    100% {left: 300px}
}
@keyframes openRight {
    0%   {right: 0;} 
    100% {right: 300px;}
}

.drawerControlsList {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.leftLi, .rightLi {
    list-style-type: none;
}
.leftLi {
    padding-left: 5px;
}
.rightLi {
    padding-right: 5px;
}
.drawerControlsList button {
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:focus {
    outline:0;
}
button:active {
    background: #000;
    color: #fff;
}
